*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blockheader{
    height: 80vh;
}
.top{
    display: flex;
    /* height: 80vh; */
    color:#000000;
    font-size: x-large;
    padding-top: 35px;
    
}
.topdiv{
    margin-left: 25px;
    margin-right: 45px;
}
.topdiv h1{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: xxx-large;
}
.topdiv p{
    padding-top: 4rem;
}
.why-pgo-property{
    display: flex;
    margin-left: 200px;
    margin-bottom: 35px;
    background-color: rgba(0, 0, 0, 0.735);
    border:0px solid rgb(0, 0, 0);

}

.why-pgo-property-image img{
    height: 100px;
}
.why-pgo-property-detail{
        margin-left: 25px;
        text-align: justify;
    }
    .why-pgo-property-detail h3{
        margin-bottom: 15px;
        text-transform: uppercase;
}
@media screen and (max-width: 780px) {
    .blockheader{
        height: 20vh;
    }
    .top{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .topdiv{
        flex: 50%;
        /* flex-direction: row; */
        margin-bottom: 20px;
        /* margin-left: 120px; */
    }
    .topdiv h1{
        /* font-weight: 10; */
        /* text-transform: uppercase; */
        font-size:xx-large;
    }
    .whypg{
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;        
    }
    .why-pgo-property{
        margin-left: 0px;
    }
    .whypgdiv{
        width: 60%;
        text-align: justify;
        /* width: %; */
    }
}
@media screen and (max-width: 480px) { 
    .blockheader{
        height: 120vh;
        width: 150%;
    }
    .topdiv{
        width: 60%;
        text-align: justify;
    }
   }
   @media screen and (max-width: 400px) { 
    .blockheader{
        height: 130vh;
    }
    .topdiv{
        width: 60%;
    }
   }
   @media screen and (max-width: 320px) { 
    .blockheader{
        height: 90vh;
    }
    .topdiv{
        width: 60%;
    }
   }