body {
  width: 100%;
  overflow-x: hidden;
}
.header {
  margin-top: -4px;
  width: 100%;
  height: 80px;
  
}
.main-nav {
  display: flex;
  border: 0px solid black;
  -webkit-box-shadow: 0px 10px 21px -4px rgb(177, 79, 177);
  -moz-box-shadow: 0px 10px 21px -4px rgb(175, 88, 175);
  box-shadow: 0px 10px 21px -4px rgb(163, 121, 121);
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: #e7e0e0;
  color: #ffffff;
  z-index: 2;
}
.logo {
  display: flex;
  margin-left: 5px;
  color: #A020F0;
}
.imagelogo {
  margin-left: 6px;
  height: 29px;
}
.menu-link ul {
  height: 7rem;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  width: 75%;
}
.menu-link ul li {
  word-spacing: normal;
  padding-left: 30px;
  font-size: 20px;
}
.menu-link ul li h1 {
  font-size: 20px;
  width: 200px;
  color: #000000;
  text-transform: uppercase;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgb(231, 14, 14);
  text-decoration: none;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.mobile-menu-icon {
  display: none;
}
@media (min-width: 780px) and (max-width: 1020px) {
  .logo {
    display: flex;
    position: absolute;
    /* top:15px; */
    left: 25px;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: relative;
    /* top:15px; */
    align-items: center;
    justify-content: center;
    margin-left: 200px;
  }
  .menu-link ul {
    display: none;
  }
  .nav-links-mobile ul {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #000000;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .nav-links-mobile ul li {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-out;
  }
  .nav-links-mobile ul li a{
    color: #ffffff;
  }
  .nav-links-mobile ul li:hover > a {
  color: rgb(89, 89, 89);
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: #000000;
    border: none;
    outline: none;
    top: 15px;
    margin-top: 3px;
    right: 25px;
  }
}
@media screen and (max-width: 780px) {
  .logo{
    margin-left: 0px;
  }
}