.slideImage{
    margin-left:520px;
    margin-top: 100px;
    margin-bottom:100px;
}
.slideImageLogo{
    margin-bottom: 80px;
 
}
.slideImageLogo h1{
    font-family: "trueno-sb";
    font-weight: bolder;
    font-size: 40px;
    color: rgb(29, 66, 145);
}
@media screen and (max-width: 480px) {
    .slideImage{
        margin-left: 0px;
    }
    .slideImageLogo{
        text-align: justify;
        margin-left: 12px;
        margin-right: 12px;
    }
}